@mixin button() {
    position: relative;
    margin: auto 0px;
    min-width: 100px;
    max-width: 200px;
    min-height: 30px;
    max-height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

@mixin animation-background {
    position: absolute;
    left: 50%;
    top: 0px;
    height: 100%;
}

.properties-menu {
    grid-area: properties;
    max-height: 50px;
    display: grid;
    gap: 1em;
    grid-template-columns: 5fr 2fr 2fr 2fr 2fr 6fr 3fr 1px;
    grid-template-rows: 1fr;
    grid-template-areas:
        " color-chooser font-size-input width-input height-input subbmit-button . generate-pdf-button";
    background-color: $menus-back-ground-color;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);

    &__subbmit-button {
        @include flex-box();
        @include button();
        grid-area: subbmit-button;
        background-color: hsla(150, 69%, 61.8%, 0.5);

        &-animation-background {
            @include animation-background();
            background-color: hsla(150, 69%, 61.8%, 1);
        }

    }

    &__subbmit-button:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3),
            0px 0px 8px 1px rgba(0, 0, 0, 0.4);
        background-color: hsla(150, 69%, 61.8%, 0.7);
    }

    &__generate-pdf-button {
        @include flex-box();
        @include button();
        grid-area: generate-pdf-button;
        background-color: hsla(210, 69%, 61.8%, 0.5);

        &-animation-background {
            @include animation-background();
            background-color: hsla(210, 69%, 61.8%, 1);
        }
    }

    &__generate-pdf-button:hover {
        cursor: pointer;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3),
            0px 0px 8px 1px rgba(0, 0, 0, 0.4);
        background-color: hsla(210, 69%, 61.8%, 0.7);
    }

}

.properties-menu-buttons-click-animation {
    animation-name: properties-menu-buttons-click-animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


@keyframes properties-menu-buttons-click-animation {
    from {
        width: 0%;
        opacity: 1;
        left: 50%;
        display: block;
    }

    to {
        width: 100%;
        opacity: 0;
        left: 0%;
        display: none;
    }
}

@import './Input/input.scss';