$font:  'PT Sans', sans-serif;
$font-color: rgb(255,255,255);
$font-size: 20px;
$back-ground-color: rgb(160, 206, 248);
$menus-back-ground-color: rgba(255,255,255,0.8);

$tooltip-translate-y: 0;
$tooltip-scale: 0;
$tooltip-arrow-size: 20px;
$tooltip-color: hsla(150, 69%, 61.8%,0.5);

@mixin flex-box() {
    display: flex;
    justify-content: center;
    align-items: center;
}

//-----------------------------------------------------------
//-----------------------------------------------------------

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

body{
    @include flex-box();

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background:linear-gradient(to right,$back-ground-color,lighten($back-ground-color,10%));
    font-family: $font;
    font-size: $font-size;
    color: $font-color;
}

.container{
    width: 80%;
    min-width: 800px;
    max-width: 1600px;
    height: 90%;
    min-height: 500px;
    max-height: 800px;
    display: grid;
    gap: 1.5em 1em;
    grid-template-columns:1fr 4fr;
    grid-template-rows: 8fr 1fr;
    grid-template-areas:
    "tools-menu canvas"
    "properties properties";
}

@media all and (max-width:1400px){
    body{
        font-size: $font-size * 0.9;
    }
}

@media all and (max-width:1000px){
    body{
        font-size: $font-size * 0.65;
    }
}


@import './Tools-Menu/toolsMenu.scss';
@import './Canvas_container/canvasContainer.scss';
@import './Properties-menu/propertiesMenu.scss';

