* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #a0cef8, #d0e7fc);
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: white;
}

.container {
  width: 80%;
  min-width: 800px;
  max-width: 1600px;
  height: 90%;
  min-height: 500px;
  max-height: 800px;
  display: grid;
  gap: 1.5em 1em;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 8fr 1fr;
  grid-template-areas: "tools-menu canvas" "properties properties";
}

@media all and (max-width: 1400px) {
  body {
    font-size: 18px;
  }
}
@media all and (max-width: 1000px) {
  body {
    font-size: 13px;
  }
}
.tools-menu {
  grid-area: "tools-menu";
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, minmax(25px, 40px)) 1em minmax(25px, 50px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.tools-menu__color-chooser {
  grid-column: 1/1;
  grid-row: 8/8;
  margin-left: 41%;
  width: 3em;
  height: 3em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: all 0.2s ease-out;
}
.tools-menu__color-chooser i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: rgba(225, 115, 90, 0.5);
}
.tools-menu__color-chooser:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.tools-menu:nth-child(1) {
  padding-top: 10px;
}

.tool-button {
  display: block;
  position: relative;
  left: 0px;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.tool-button:hover {
  cursor: pointer;
}
.tool-button__hover-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5%;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #c74d4d;
  transition: all 0.3s ease-in-out;
}
.tool-button__hover-background--active {
  width: 100%;
}
.tool-button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 2%;
  top: 0px;
  width: 80%;
  height: 100%;
  font-size: 1.2em;
  font-weight: 300;
  color: gray;
}
.tool-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 80%;
  top: -100%;
  width: 20%;
  height: 100%;
  font-size: 2em;
  font-weight: 700;
  color: gray;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.tool-button__icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

.tool-button:hover > .tool-button__hover-background {
  width: 100%;
}

.tool-button:first-of-type {
  border-top: none;
}

.tool-button:last-of-type {
  border-bottom: none;
}

.tool-button[tool=diamond] .tool-button__icon i {
  transform: rotate(45deg);
}

.tool-button:nth-child(1) .tool-button__hover-background {
  background-color: rgba(225, 214, 90, 0.5);
}
.tool-button:nth-child(1) .tool-button__icon i {
  color: rgba(225, 214, 90, 0.8);
}

.tool-button:nth-child(2) .tool-button__hover-background {
  background-color: rgba(113, 225, 90, 0.5);
}
.tool-button:nth-child(2) .tool-button__icon i {
  color: rgba(113, 225, 90, 0.8);
}

.tool-button:nth-child(3) .tool-button__hover-background {
  background-color: rgba(90, 225, 191, 0.5);
}
.tool-button:nth-child(3) .tool-button__icon i {
  color: rgba(90, 225, 191, 0.8);
}

.tool-button:nth-child(4) .tool-button__hover-background {
  background-color: rgba(90, 135, 225, 0.5);
}
.tool-button:nth-child(4) .tool-button__icon i {
  color: rgba(90, 135, 225, 0.8);
}

.tool-button:nth-child(5) .tool-button__hover-background {
  background-color: rgba(169, 90, 225, 0.5);
}
.tool-button:nth-child(5) .tool-button__icon i {
  color: rgba(169, 90, 225, 0.8);
}

.tool-button:nth-child(6) .tool-button__hover-background {
  background-color: rgba(225, 90, 158, 0.5);
}
.tool-button:nth-child(6) .tool-button__icon i {
  color: rgba(225, 90, 158, 0.8);
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: "canvas";
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.canvas-container__canvas {
  width: 95%;
  height: 95%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.canvas-container__canvas:hover {
  cursor: crosshair;
}

.properties-menu {
  grid-area: properties;
  max-height: 50px;
  display: grid;
  gap: 1em;
  grid-template-columns: 5fr 2fr 2fr 2fr 2fr 6fr 3fr 1px;
  grid-template-rows: 1fr;
  grid-template-areas: " color-chooser font-size-input width-input height-input subbmit-button . generate-pdf-button";
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.properties-menu__subbmit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto 0px;
  min-width: 100px;
  max-width: 200px;
  min-height: 30px;
  max-height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.2em;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  grid-area: subbmit-button;
  background-color: rgba(90, 225, 158, 0.5);
}
.properties-menu__subbmit-button-animation-background {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 100%;
  background-color: #5ae19e;
}
.properties-menu__subbmit-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3), 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(90, 225, 158, 0.7);
}
.properties-menu__generate-pdf-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto 0px;
  min-width: 100px;
  max-width: 200px;
  min-height: 30px;
  max-height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  font-size: 1.2em;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  grid-area: generate-pdf-button;
  background-color: rgba(90, 158, 225, 0.5);
}
.properties-menu__generate-pdf-button-animation-background {
  position: absolute;
  left: 50%;
  top: 0px;
  height: 100%;
  background-color: #5a9ee1;
}
.properties-menu__generate-pdf-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3), 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  background-color: rgba(90, 158, 225, 0.7);
}

.properties-menu-buttons-click-animation {
  animation-name: properties-menu-buttons-click-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes properties-menu-buttons-click-animation {
  from {
    width: 0%;
    opacity: 1;
    left: 50%;
    display: block;
  }
  to {
    width: 100%;
    opacity: 0;
    left: 0%;
    display: none;
  }
}
.input {
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  resize: none;
  margin: auto 0px;
  min-width: 100px;
  max-width: 200px;
  min-height: 25px;
  max-height: 40px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.input::placeholder {
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.input[tool=font-size] {
  grid-area: font-size-input;
}

.input[tool=font-size]:focus {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.input[tool=canvas-width] {
  grid-area: width-input;
}

.input[tool=canvas-width]:focus {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.input[tool=canvas-height] {
  grid-area: height-input;
}

.input[tool=canvas-height]:focus {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=main.css.map */
